.about {
   border-bottom: 1px solid rgba(245, 245, 245, 0.641);
   top: 0;
   left: 0;
   overflow: hidden;
   position: relative;
   z-index: 2 !important;
   height: 100vh;
   background-color: #060918;
   display: flex;

   @media (max-width: 700px) {
      height: 160dvh;
      flex-direction: column;
   }

   .about__img {
      flex: 1;
      height: 100dvh;

      @media (max-width: 700px) {
         width: 100%;
         height: 60dvh;
      }

      img {
         height: 100%;
         max-width: 100%;

         @media (max-width: 700px) {
            width: 100%;
         }

         object-fit: cover;
      }
   }

   .about__content {
      flex: 1;
      display: flex;
      flex-direction: column;
      gap: 20px;
      align-items: start;
      justify-content: center;
      padding: 10px;


      .about__title {
         color: white;
         letter-spacing: 0.8px;

         span::before {
            content: "Development";
            animation: animate infinite 10s;
            padding-left: 10px;
            font-size: 30px;
         }

         @keyframes animate {
            0% {
               content: "Development";
            }

            25% {
               content: "Persistence";
            }

            50% {
               content: "Uniqueness";
            }

            75% {
               content: "LVL Up";
            }
         }
      }

      .about__text {
         color: #8088a2;
         font-size: 20px;
         width: 70%;

         @media (max-width: 700px) {
            width: 90%;
         }
      }
   }
}

//rgb(88,23,217)