.greeting {
   height: 100dvh;
   background-image: url(../../../public/bg.jpg);
   background-attachment: fixed;
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
   display: flex;
   align-items: center;
   justify-content: center;
   
   position: sticky;
   top: 0;
   z-index: 1;
   .greeting__box {
      width: 740px;

      .greeting__title {
         text-align: center;
         font-size: 80px;
         color: white;
         @media (max-width: 630px) {
            font-size: 50px;
            margin-bottom: 20px;
         }
      }

      .greeting__row {
         display: flex;
         align-items: center;
         justify-content: center;
         gap: 10px;
         @media (max-width: 740px) {
            flex-direction: column;
         }

         .offset {
            text-decoration: none;
            font-size: 30px;
            @media (max-width: 530px) {
               font-size: 20px;
            }
            box-shadow:
               0.3em 0.3em 0 0 var(--color),
               inset 0.3em 0.3em 0 0 var(--color);

            &:hover,
            &:focus {
               box-shadow:
                  0 0 0 0 var(--hover),
                  inset 6em 3.5em 0 0 var(--hover);
            }
         }

         a {
            cursor: pointer;
            background: none;
            border: 2px solid;
            font: inherit;
            line-height: 1;
            margin: 0.5em;
            padding: 1em 2em;
            font-weight: 600;
            @media (max-width: 630px) {
               padding: 15px 20px;
               font-size: 20px;
            }
         }

         a {
            color: var(--color);
            transition: 0.25s;

            &:hover,
            &:focus {
               border-color: var(--hover);
               color: purple;
               font-weight: 600;
            }
         }

         $colors: (
            fill: #fff,
            offset: #fff
         );

      @each $button, $color in $colors {
         .#{$button} {
            --color: #{$color};
            --hover: #{adjust-hue($color, 45deg)};
         }
      }

      .fill {
         font-size: 30px;
         text-decoration: none;
         @media (max-width: 530px) {
            font-size: 20px;
         }
      }

      .fill:hover,
      .fill:focus {
         box-shadow: inset 0 0 0 2em var(--hover);
      }
   }
}
}